@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", serif;
    color: #112211;
}

body {
    background-color:#fafbfc;
}

#bannerImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("./assets/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner2Image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/banner2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-shadow {
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}